.card-bg{
    background-color: rgb(242, 230, 230);
}
.card-body-item{
    border-radius: 10px;
    transition: 0.5s;
}
.card-body-item:hover{
    color: rgb(226, 43, 30);
background-color: rgba(214, 203, 203, 0.748);
}
.card-img{
    height: 48%;
    padding: 10px;
    border-radius: 10px;
}
.add-btn{
    cursor: pointer;
}