body{
    background-color: #ffffff;
}
.head-top{
    color: rgb(255, 65, 65);
    background-color: #ffffff;
    padding: 1px 0;
    border-bottom: 2px dashed rgb(255, 66, 66);
}
.header{
display: flex;
justify-content: center;
align-items: center;
}
.logo{
height: 100px;
margin-right: 30px;
}